/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "compass/reset";

body {
  color: #333;
  font-family: bold;
  font-size: 12px;
}

table {
  margin-top: 15px;
  width: 100%;
}

th {
  font-weight: bold;
}

td, th {
  padding: 10px;
  border: 1px solid #eee;
}

h1 {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

input[type=text] {
  border: 1px solid #ccc;
}

.container {
  margin: 0 auto;
  padding: 30px;
  width: 640px;
}